body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #1a1e24;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 2rem;
    background: #fff;
    margin: 1rem auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: static;
    width: 100%;
    bottom: 0;
}

.contact-buttons {
    margin-top: 20px;
    text-align: center;
}

.contact-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px; /* Adjust size of icons */
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.contact-buttons button:hover {
    background-color: #555;
}

.contact-buttons i {
    font-size: 30px; /* Adjust icon size */
}

.logo {
    height: 10px; /* Adjust size as needed */
    margin-left: 625px; /* Space between the logo and navigation */
}
